<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ParseCredentials</key>
	<dict>
		<key>ClientSecret</key>
		<string>CLIENT SECRET HERE (add configuraiton.plist which is .gitignored)</string>
		<key>ClientID</key>
		<string>CLIENT ID HERE (add configuraiton.plist which is .gitignored)</string>
	</dict>
</dict>
</plist>
